
#container {
  background-color: cornsilk;
  border: 1px solid black;
  margin: .5rem;
  border-radius: 5px;
  width: 30%;
  height: 10rem;
  padding: 0 2rem;
}

input, button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.75rem;
}

span {
  font-weight: 800;
}